"Завдання 1. Створити функцію, яка приймає два аргументи (число та ступінь), та повертає результат підняття числа до вказаної ступені"

In [ ]:
# перший спосіб
print(pow(3, 4))

81

In [ ]:
# другий спосіб
def power(a, b):
  return a ** b

power(3, 4)

81

"Завдання 2. Написати програму, яка виводить всі парні числа від 1 до 20."

In [ ]:
for x in range(1, 20):
  if x % 2 == 0:
    print(x)

2
4
6
8
10
12
14
16
18

"Завдання 3. Створити список чисел від 1 до 10, та вивести його зворотньо."

In [17]:
numbers = list(range(1, 10))
print(list(reversed(numbers)))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

"Завдання 4. Написати функцію, яка приймає рядок та повертає кількість унікальних символів у цьому рядку."

In [18]:
def count_unique_chars(text):
    return len(set(text))

user_input = input("Введи рядок: ")
print("Кількість унікальних символів:", count_unique_chars(user_input))

Введи рядок: фівв
Кількість унікальних символів: 3

Завдання 5. Перевернути массив використовуючи зворотню індексацію.

In [19]:
array_ = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reversed_list = array_[::-1]
print(reversed_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

"Завдання 6. Створити словник, який містить дані про книгу (назва, автор, рік видання) та вивести його вміст"

In [23]:
book_data = {"title": "Adventures", "author": "Milano Perretini", "year": 1984}
print(book_data)

{'title': 'Adventures', 'author': 'Milano Perretini', 'year': 1984}

"Завдання 7. Написати програму, яка обчислює суму перших 100 натуральних чисел"

In [24]:
total = sum(range(1, 101))
print("Сума перших 100 натуральних чисел:", total)

Сума перших 100 натуральних чисел: 5050

Завдання 1. Створити DataFrame з двох списків (назва книги та автор) та вивести перші 5 рядків:

In [27]:
import pandas as pd

titles = ["Книга 1", "Книга 2", "Книга 3", "Книга 4", "Книга 5", "Книга 6", "Книга 7"]
authors = ["Автор A", "Автор B", "Автор C", "Автор D", "Автор E", "Автор F", "Автор G"]

books_data = pd.DataFrame({
    "Назва книги": titles,
    "Автор": authors
})

print(books_data.head())

  Назва книги    Автор
0     Книга 1  Автор A
1     Книга 2  Автор B
2     Книга 3  Автор C
3     Книга 4  Автор D
4     Книга 5  Автор E

Завдання 2. Завантажити даних з CSV-файлу та вивести статистику про числові колонки

In [28]:
df = pd.read_csv("taxis.csv")
print(df.describe())

        passengers     distance         fare         tip        tolls  \
count  6433.000000  6433.000000  6433.000000  6433.00000  6433.000000
mean      1.539251     3.024617    13.091073     1.97922     0.325273
std       1.203768     3.827867    11.551804     2.44856     1.415267
min       0.000000     0.000000     1.000000     0.00000     0.000000
25%       1.000000     0.980000     6.500000     0.00000     0.000000
50%       1.000000     1.640000     9.500000     1.70000     0.000000
75%       2.000000     3.210000    15.000000     2.80000     0.000000
max       6.000000    36.700000   150.000000    33.20000    24.020000

             total
count  6433.000000
mean     18.517794
std      13.815570
min       1.300000
25%      10.800000
50%      14.160000
75%      20.300000
max     174.820000

"Завдання 3. Вибрати лише рядки, де значення у колонці ""Оцінка"" більше 4"

In [35]:
data = {
    "Студент": ["Студент 1", "Студент 2", "Студент 3", "Студент 4", "Студент 5", "Студент 6", "Студент 7"],
    "Оцінка": [4, 3, 4, 3, 5, 2, 5],
    "Назва книги": titles
}
df = pd.DataFrame(data)
print(df)

     Студент  Оцінка Назва книги
0  Студент 1       4     Книга 1
1  Студент 2       3     Книга 2
2  Студент 3       4     Книга 3
3  Студент 4       3     Книга 4
4  Студент 5       5     Книга 5
5  Студент 6       2     Книга 6
6  Студент 7       5     Книга 7

In [36]:
# Вибір рядків, де значення в колонці "Оцінка" більше 4
filtered_df = df[df["Оцінка"] > 4]
print(filtered_df)

     Студент  Оцінка Назва книги
4  Студент 5       5     Книга 5
6  Студент 7       5     Книга 7

Завдання 4. Об'єднати два DataFrames за спільними колонками та вивести результат

In [39]:
merged_df = pd.merge(df, books_data, on="Назва книги")
print(merged_df)

     Студент  Оцінка Назва книги    Автор
0  Студент 1       4     Книга 1  Автор A
1  Студент 2       3     Книга 2  Автор B
2  Студент 3       4     Книга 3  Автор C
3  Студент 4       3     Книга 4  Автор D
4  Студент 5       5     Книга 5  Автор E
5  Студент 6       2     Книга 6  Автор F
6  Студент 7       5     Книга 7  Автор G

"Завдання 5. Використати функцію apply для створення нового стовпця на основі умови - У вас є таблиця з оцінками студентів, і вам потрібно створити новий стовпець ""Grade"" на основі наступних критеріїв: A (90 і вище), B (80-89), C (менше 80). Дані:import pandas as pddata = {'Score': [85, 92, 78, 95, 88]}df = pd.DataFrame(data)"

In [44]:
import pandas as pd

data = {'Score': [85, 92, 78, 95, 88]}
df = pd.DataFrame(data)

def assign_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    else:
        return "C"

df["Grade"] = df["Score"].apply(assign_grade)

print(df)

   Score Grade
0     85     B
1     92     A
2     78     C
3     95     A
4     88     B